//variables
@back-color: #282828;
@big-header: #404040;
@small-header: #47E8A3;
@text-color: #FFFEF5;
@link-color: #EF5847;


//mixins

p{
  font-weight: 100;
}

/*Links*/

.cleanLink:hover{
  text-decoration: none;
}


/*Forms*/
::-webkit-input-placeholder {
  font-weight: 100;
}

/*Navbar*/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
}

a.navbar-brand{
  margin-top: 5px;
  height: 90px;
}

.navbar-toggle{
  margin-top: 30px;
}

a.visible-xs{
  min-height: 85px;

}

.navbar-default .navbar-toggle .icon-bar{
  background-color: @small-header;
  border-color: @small-header;
}

nav.visible-xs.collapse.in,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
  background-color: @back-color;
  padding-bottom: 10px;
}

nav.visible-xs.collapse.in{
  width: 100%;
}

ul.nav.navbar-nav{
  margin: 0;
}

nav.hidden-xs ul:nth-child(2){
  margin-top: 30px;
}

/*Navbar Links*/
#signup-btn{
  color: @small-header;
  border: solid 1px @small-header;
  border-radius: 4px;
}

#signup-btn:hover{
  color: @text-color;
  background-color: @small-header;
}

.place-holder{
  height: 85px;
}

nav.visible-xs ul li:last-child a{
  color: @small-header;
  border: solid 1px @small-header;
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
}

/*Landing Page*/
main#lan-main{
  height: 800px;
  background: url("../images/venue2.jpg") no-repeat @back-color;
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 250px;
  padding-bottom: 100px;
}


main#lan-main div{
//  background-color: fadeout(@big-header,20%);
//  padding: 20px;
}

main#lan-main div h1{
  margin-top: 0;
  margin-bottom: 10px;
}

main#lan-main div h5:first-of-type{
  margin-top: 50px;
}

main#lan-main div h5{
  font-weight: 100;
}

main#lan-main div a{
  margin-top: 20px;
}



/*Media Queries*/
@media (max-width: 768px) {

//  Navbar
  div.container{
    height: 85px;
  }
  div.navbar-header{
    padding-right: 15px;
    padding-left: 15px;
  }

  header#navbar-scroll{
    background-color: transparent;
    border-color: transparent;
  }

//  Langing page - main
  main#lan-main{
    padding-top: 120px;
  }

  main#lan-main div h1{
    margin-top: 0;
    margin-bottom: 10px;
  }

  main#lan-main div h5:first-of-type{
    margin-top: 50px;
    margin-bottom: 0;
  }

  main#lan-main div h5{
    font-weight: 100;
    margin-top: 0;
  }

  main#lan-main div a{
    margin-top: 20px;
  }


}

/*Footer*/
footer{
  padding: 60px 0 15px;
}

