<ng-include src='"views/partials/navbar-app.html"'></ng-include>

<div class="container container-custom">
<main class="row main-app">
    <!--First Column-->
    <div  class="col-md-4 ">
        <!--Profile Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="border-color row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h3>PROFILE</h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                        <a class="color-icons" href="#/profile"> <span class="my-icon fa fa-pencil-square-o fa-2x"></span></a>
                    </div>
                </div>
                <div class="border-color row">
                    <div class="col-md-12">
                        <table class="table">
                            <tbody ng-controller="profileCtrl">
                            <tr>
                                <th><strong>First Name:</strong></th>
                                <td>{{user.firstName}}</td>
                            </tr>
                            <tr>
                                <th><strong>Last Name:</strong></th>
                                <td>{{user.lastName}}</td>
                            </tr>
                            <tr>
                                <th><strong>E-mail:</strong></th>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <th><strong>Phone #:</strong></th>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <th><strong>Company:</strong></th>
                                <td>{{user.companyName}}</td>
                            </tr>
                            <tr>
                                <th><strong>Position:</strong></th>
                                <td>{{user.position}}</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div><br>

        <!--Contacts Row-->

        <div class="row">
            <div class="col-md-12">
                <div class="border-color row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h3>CONTACTS</h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right ">
                        <a href="#/login" class="color-icons"><span class="fa fa-user-plus fa-2x my-icon"></span> </a>
                    </div>
                </div>

                <div class="border-color row">
                    <!--search input-->
                     <div class="row">
                        <div class="col-md-12">
                            <form style="margin-top: 5px">
                                <div class="form-group">
                                    <label class="sr-only" for="contactsSearch"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input ng-model="search" type="text" class="form-control" id="contactsSearch" placeholder="Search Contacts">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--contacts list-->
                    <div class="row contacts-list">
                        <div class="col-md-12">
                            <table class="table table-hover">

                                <tbody>

                                <tr style="border-bottom: 2px solid #404040">
                                    <th><a href="">Arturo Alquicira</a></th>
                                    <td class="text-center"><span class="fa fa-user"></span></td>

                                </tr>

                                <tr style="border-bottom: 2px solid #404040">
                                    <th><a href="">Arturo Alquicira</a></th>
                                    <td class="text-center"><span class="fa fa-user"></span></td>

                                </tr>

                                <tr style="border-bottom: 2px solid #404040">
                                    <th><a href="">Arturo Alquicira</a></th>
                                    <td class="text-center"><span class="fa fa-user"></span></td>

                                </tr>

                                <tr style="border-bottom: 2px solid #404040">
                                    <th><a href="">Arturo Alquicira</a></th>
                                    <td class="text-center"><span class="fa fa-user"></span></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div><br>
    </div>
    <!--End First Column-->

    <!--Second Column-->
    <div class="col-md-8 ">
        <div class="row">
            <div class="col-md-12">
                <div class="border-color row">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h3>PROJECTS</h3>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 text-right my-link">
                        <a data-toggle="modal" data-target="#newProject" href="" class="color-icons"><span class="fa fa-plus"></span> New Project</a>

                    </div>
                    <!-- Modal/ New Project -->
                    <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Create New Project</h4>
                                </div>
                                <div class="modal-body">
                                    <!--Modal Body-->
                                    <form ng-submit="saveProject()" class="">

                                        <div class="form-group">
                                            <label for="projectName">Project Name</label>
                                            <input ng-model="newProject.projectName"  type="text" class="form-control input-lg" id="projectName" placeholder="Project Name" autofocus>
                                        </div>

                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <p class="input-group">
                                                <input placeholder="dd-month-yyyy" type="text" name="startDate" class="form-control input-lg" datepicker-popup="{{format}}" ng-model="newProject.startDate" is-open="openStart" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary btn-lg" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label>End Date</label>
                                            <p class="input-group">
                                                <input placeholder="dd-month-yyyy" type="text" name="endDate" class="form-control input-lg" datepicker-popup="{{format}}" ng-model="newProject.endDate" is-open="openEnd" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary btn-lg" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                            </p>


                                        </div>

                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input ng-model="newProject.city"  type="text" class="form-control input-lg" id="city" placeholder="City">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" >Create</button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="border-color row">
                    <div class="container-table-custom">
                        <table class="responsive-table-custom">
                            <thead>

                            </thead>

                            <tbody>
                            <tr ng-repeat="project in projects">
                                <td data-title="Project Name:" class="text-left">{{project.projectName}}</td>
                                <td data-title="Dates:">{{project.startDate | date : format : short}} -- {{project.endDate | date : format : short}}</td>
                                <td data-title="City:">{{project.city}}</td>
                                <td data-title=""><a href="#/project/{{project.$id}}/{{project.projectName}}" class="btn btn-block btn-primary">View Project</a> </td>
                                <td data-title="" class="visible-md visible-lg"><a ng-click="deleteProject(project.$id)" href="" class="delete-icon"><span class="fa fa-trash-o fa-lg"></span></a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">



            </div>
        </div>

    </div>





</main>
</div>
