<header id="navbar-scroll" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">
                    <svg width="150" height="55">
                        <!--<rect x="0" y="-0.667" fill="" stroke="" stroke-miterlimit="10" width="150" height="55.167"/>-->
                        <text transform="matrix(1 0 0 1 4.417 16.1283)" fill="#FFFDF5" stroke="#FFFEF5" stroke-width="0.2" stroke-miterlimit="10" font-family="'HelveticaNeue-Bold'" font-size="15.1804">AT THE</text>
                        <text transform="matrix(1 0 0 1 4.5684 50.2782)" fill="#FFFDF5" stroke="#FFFEF5" stroke-width="0.2" stroke-miterlimit="10" font-family="'HelveticaNeue-Bold'" font-size="42.3353">VENUE</text>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="61.783" y1="5.018" x2="61.783" y2="16.537"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="63.87" y1="16.537" x2="63.87" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="71.878" y1="16.537" x2="71.878" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="72.679" y1="16.537" x2="72.679" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="73.48" y1="16.537" x2="73.48" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="77.484" y1="16.537" x2="77.484" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="78.285" y1="16.537" x2="78.285" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="82.289" y1="16.537" x2="82.289" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="85.492" y1="16.537" x2="85.492" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="88.695" y1="16.537" x2="88.695" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="140.749" y1="16.537" x2="140.749" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="143.952" y1="16.537" x2="143.952" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="146.695" y1="16.537" x2="146.695" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="91.899" y1="16.537" x2="91.899" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="94.301" y1="16.537" x2="94.301" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="95.102" y1="16.537" x2="95.102" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="98.305" y1="16.537" x2="98.305" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="99.907" y1="16.537" x2="99.907" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="101.509" y1="16.537" x2="101.509" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="106.313" y1="16.537" x2="106.313" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="105.513" y1="16.537" x2="105.513" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="107.915" y1="16.537" x2="107.915" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="108.716" y1="16.537" x2="108.716" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="109.517" y1="16.537" x2="109.517" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="114.322" y1="16.537" x2="114.322" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="113.521" y1="16.537" x2="113.521" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="112.72" y1="16.537" x2="112.72" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="122.33" y1="16.537" x2="122.33" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="123.932" y1="16.537" x2="123.932" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="126.334" y1="16.537" x2="126.334" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="127.936" y1="16.537" x2="127.936" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="119.927" y1="16.537" x2="119.927" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="136.745" y1="16.537" x2="136.745" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="138.346" y1="16.537" x2="138.346" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="140.749" y1="16.537" x2="140.749" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="134.342" y1="16.537" x2="134.342" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="130.338" y1="16.537" x2="130.338" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="131.139" y1="16.537" x2="131.139" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="131.94" y1="16.537" x2="131.94" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="129.537" y1="16.537" x2="129.537" y2="5.018"/>
                        <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="67.073" y1="16.537" x2="67.073" y2="5.018"/>
                        <path fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" d="M140.326,5.018"/>
                        <path fill="none" stroke="#FFFDF5" stroke-width="0.5" stroke-miterlimit="10" d="M141.889,16.45"/>
                        <path fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" d="M134.093,5.018"/>
                        <path fill="none" stroke="#FFFDF5" stroke-width="0.5" stroke-miterlimit="10" d="M135.751,16.45"/>
                    </svg>
                </a>
            </div>
            <nav class="hidden-xs ">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                        <svg width="150" height="55">
                            <!--<rect x="0" y="-0.667" fill="" stroke="" stroke-miterlimit="10" width="150" height="55.167"/>-->
                            <text transform="matrix(1 0 0 1 4.417 16.1283)" fill="#FFFDF5" stroke="#FFFEF5" stroke-width="0.2" stroke-miterlimit="10" font-family="'HelveticaNeue-Bold'" font-size="15.1804">AT THE</text>
                            <text transform="matrix(1 0 0 1 4.5684 50.2782)" fill="#FFFDF5" stroke="#FFFEF5" stroke-width="0.2" stroke-miterlimit="10" font-family="'HelveticaNeue-Bold'" font-size="42.3353">VENUE</text>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="61.783" y1="5.018" x2="61.783" y2="16.537"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="63.87" y1="16.537" x2="63.87" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="71.878" y1="16.537" x2="71.878" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="72.679" y1="16.537" x2="72.679" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="73.48" y1="16.537" x2="73.48" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="77.484" y1="16.537" x2="77.484" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="78.285" y1="16.537" x2="78.285" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="82.289" y1="16.537" x2="82.289" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="85.492" y1="16.537" x2="85.492" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="88.695" y1="16.537" x2="88.695" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="140.749" y1="16.537" x2="140.749" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="143.952" y1="16.537" x2="143.952" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="146.695" y1="16.537" x2="146.695" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="91.899" y1="16.537" x2="91.899" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="94.301" y1="16.537" x2="94.301" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="95.102" y1="16.537" x2="95.102" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="98.305" y1="16.537" x2="98.305" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="99.907" y1="16.537" x2="99.907" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="101.509" y1="16.537" x2="101.509" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="106.313" y1="16.537" x2="106.313" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="105.513" y1="16.537" x2="105.513" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="107.915" y1="16.537" x2="107.915" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="108.716" y1="16.537" x2="108.716" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="109.517" y1="16.537" x2="109.517" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="114.322" y1="16.537" x2="114.322" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="113.521" y1="16.537" x2="113.521" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="112.72" y1="16.537" x2="112.72" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="122.33" y1="16.537" x2="122.33" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="123.932" y1="16.537" x2="123.932" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="126.334" y1="16.537" x2="126.334" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="127.936" y1="16.537" x2="127.936" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="119.927" y1="16.537" x2="119.927" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="136.745" y1="16.537" x2="136.745" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="138.346" y1="16.537" x2="138.346" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="140.749" y1="16.537" x2="140.749" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="134.342" y1="16.537" x2="134.342" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="130.338" y1="16.537" x2="130.338" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="131.139" y1="16.537" x2="131.139" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="131.94" y1="16.537" x2="131.94" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="129.537" y1="16.537" x2="129.537" y2="5.018"/>
                            <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="67.073" y1="16.537" x2="67.073" y2="5.018"/>
                            <path fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" d="M140.326,5.018"/>
                            <path fill="none" stroke="#FFFDF5" stroke-width="0.5" stroke-miterlimit="10" d="M141.889,16.45"/>
                            <path fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" d="M134.093,5.018"/>
                            <path fill="none" stroke="#FFFDF5" stroke-width="0.5" stroke-miterlimit="10" d="M135.751,16.45"/>
                        </svg>
                    </a>

                </ul>
                <ul class="nav navbar-nav pull-right">


                    <li><a href="">Prices</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Log In</a></li>
                    <li ><a id="signup-btn" href="#getting_started">Sign Up</a></li>
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav text-center">
                    <li><a href="" ng-click="isCollapsed = !isCollapsed">Prices</a></li>
                    <li><a href="" ng-click="isCollapsed = !isCollapsed">Contact</a></li>
                    <li><a href="" ng-click="isCollapsed = !isCollapsed">Log In</a></li>
                    <li><a href="" ng-click="isCollapsed = !isCollapsed">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--<div class="header-placeholder"></div>-->

<main id="lan-main" class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2 text-center">
        <h1 data-fittext data-fittext-min="30" class="hidden-xs">CREATE & MANAGE YOUR NEXT GIG</h1>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <button data-fittext data-fittext-max="18" data-fittext-min="14" type="button" class="btn btn-success btn-lg">Sign Up and try it!</button>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center">
        <h1 data-fittext data-fittext-min="30" class="hidden-xs">CREATE & MANAGE YOUR NEXT GIG</h1>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <h4 data-fittext data-fittext-min="25">Spend less time writing schedules and logistics</h4>
        <button data-fittext data-fittext-max="18" data-fittext-min="14" type="button" class="btn btn-success btn-lg">Sign Up and try it!</button>
    </div>
</main>


