<ng-include src='"views/partials/navbar.html"'></ng-include>

<main id="lan-main" class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="jumbotron">
            <h1 class="hidden-xs">Manage your tours & events with real-time updates</h1>
            <p>Build logistics and schedules together from wherever and whenever with cloud collaboration.</p>
            <p><a class="btn btn-primary btn-lg" href="#/signup" role="button">Sign up and try it!</a></p>
        </div>
    </div>
</main>

