<main class="row" style="margin-top: 100px;">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="text-center" style="margin-bottom: 30px;">
            <a href="#/" class="cleanLink">
                <svg width="150" height="55">
                    <text transform="matrix(1 0 0 1 4.417 16.1283)" fill="#FFFDF5" stroke="#FFFEF5" stroke-width="0.2" stroke-miterlimit="10" font-family="'HelveticaNeue-Bold'" font-size="15.1804">AT THE</text>
                    <text transform="matrix(1 0 0 1 4.5684 50.2782)" fill="#FFFDF5" stroke="#FFFEF5" stroke-width="0.2" stroke-miterlimit="10" font-family="'HelveticaNeue-Bold'" font-size="42.3353">VENUE</text>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="61.783" y1="5.018" x2="61.783" y2="16.537"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="63.87" y1="16.537" x2="63.87" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="71.878" y1="16.537" x2="71.878" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="72.679" y1="16.537" x2="72.679" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="73.48" y1="16.537" x2="73.48" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="77.484" y1="16.537" x2="77.484" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="78.285" y1="16.537" x2="78.285" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="82.289" y1="16.537" x2="82.289" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="85.492" y1="16.537" x2="85.492" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="88.695" y1="16.537" x2="88.695" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="140.749" y1="16.537" x2="140.749" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="143.952" y1="16.537" x2="143.952" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="146.695" y1="16.537" x2="146.695" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="91.899" y1="16.537" x2="91.899" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="94.301" y1="16.537" x2="94.301" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="95.102" y1="16.537" x2="95.102" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="98.305" y1="16.537" x2="98.305" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="99.907" y1="16.537" x2="99.907" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="101.509" y1="16.537" x2="101.509" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="106.313" y1="16.537" x2="106.313" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="105.513" y1="16.537" x2="105.513" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="107.915" y1="16.537" x2="107.915" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="108.716" y1="16.537" x2="108.716" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="109.517" y1="16.537" x2="109.517" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="114.322" y1="16.537" x2="114.322" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="113.521" y1="16.537" x2="113.521" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="112.72" y1="16.537" x2="112.72" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="122.33" y1="16.537" x2="122.33" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="123.932" y1="16.537" x2="123.932" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="126.334" y1="16.537" x2="126.334" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="127.936" y1="16.537" x2="127.936" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="119.927" y1="16.537" x2="119.927" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="136.745" y1="16.537" x2="136.745" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="138.346" y1="16.537" x2="138.346" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="140.749" y1="16.537" x2="140.749" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="134.342" y1="16.537" x2="134.342" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="130.338" y1="16.537" x2="130.338" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="131.139" y1="16.537" x2="131.139" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="131.94" y1="16.537" x2="131.94" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="129.537" y1="16.537" x2="129.537" y2="5.018"/>
                    <line fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" x1="67.073" y1="16.537" x2="67.073" y2="5.018"/>
                    <path fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" d="M140.326,5.018"/>
                    <path fill="none" stroke="#FFFDF5" stroke-width="0.5" stroke-miterlimit="10" d="M141.889,16.45"/>
                    <path fill="none" stroke="#FFFDF5" stroke-width="0.2" stroke-miterlimit="10" d="M134.093,5.018"/>
                    <path fill="none" stroke="#FFFDF5" stroke-width="0.5" stroke-miterlimit="10" d="M135.751,16.45"/>
                </svg>

            </a>
        </div>
        <h4>Please Log In</h4>

        <form action="#/profile" class="">
            <div class="form-group">
                <label for="exampleInputEmail1">E-mail Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter e-mail" autofocus>
            </div>
            <div class="form-group">
                <label for="InputPassword1">Password</label>
                <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
            </div>


            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>
    </div>
</main>
