<ng-include src='"views/partials/navbar-app.html"'></ng-include>


<main id="profile" ng-controller="profileCtrl" class="row" style="margin-top: 100px;">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <h2>Profile</h2>

        <form ng-submit="profileForm()" class="">

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input ng-model="firstName"  type="text" class="form-control input-lg" id="firstName" placeholder="First Name" autofocus>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input ng-model="lastName"  type="text" class="form-control input-lg" id="lastName" placeholder="Last Name" >
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail / Notifications</label>
                        <input ng-model="email"  type="email" class="form-control input-lg" id="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="phone">Phone #</label>
                    <input ng-model="phone"  type="text" class="form-control input-lg" id="phone" placeholder="Phone #">
                </div>

                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input ng-model="companyName"  type="text" class="form-control input-lg" id="companyName" placeholder="Company Name">
                </div>

                <div class="form-group">
                    <label for="position">Position</label>
                    <input ng-model="position"  type="text" class="form-control input-lg" id="position" placeholder="Position">
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-lg ">Save</button>

                </div>
            </div>




            



        </form>
    </div>
</main>