<ng-include src='"views/partials/navbar-app.html"'></ng-include>

<div class="container">
    <main class="row main-app">
        <div class="col-md-12">
            <header class="row tabs">
                <!--Project Title-->
                <div class="col-md-4">
                    <h1>Kings Of Leon</h1>
                </div>
                <!--Project Tabs-->
                <div class="col-md-7 col-md-offset-1 tabs-list">
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-3 col-xs-3"><a href="" class="tabs-links "><h4 class="tabs-links-active">Crew</h4></a></div>
                        <div class="col-md-4 col-sm-5 col-xs-5 res-padding"><a href="" class="tabs-links "><h4>Tech Specs</h4></a></div>
                        <div class="col-md-4 col-sm-4 col-xs-4 res-padding"><a href="" class="tabs-links"><h4>Schedules</h4></a></div>
                    </div>

                </div>

            </header>
            <section class="row">
                <!--First Column-->
                <div  class="col-md-4 ">
                    <!--Profile Row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-color row">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h2>EVENT INFO</h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                                    <small><a class="" href="#/login"> <span class="my-icon fa fa-pencil-square-o fa-2x"></span></a> </small>
                                </div>
                            </div>
                            <div class="border-color row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th><strong>Event Title:</strong></th>
                                            <td>Kings Of Leon</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Type:</strong></th>
                                            <td>Show</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Events Starts:</strong></th>
                                            <td>01/11/15</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Event Ends:</strong></th>
                                            <td>02/11/15</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Country:</strong></th>
                                            <td>USA</td>
                                        </tr>
                                        <tr>
                                            <th><strong>City:</strong></th>
                                            <td>Orlando</td>
                                        </tr>
                                        <tr>
                                            <th><strong>State:</strong></th>
                                            <td>Florida</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Production Manager:</strong></th>
                                            <td>Arturo Alquicira</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <!--Next Row-->
                </div>
                <!--End First Column-->

                <!--Second Column-->
                <div class="col-md-7 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-color row">
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <h2>CREW</h2>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5 text-right ">
                                    <small><a href="#/login"><span class="fa fa-user-plus fa-2x my-icon"></span> New Staff</a> </small>
                                </div>

                            </div>
                            <div class="border-color row">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th><strong>Name</strong></th>
                                        <th><strong>E-mail</strong></th>
                                        <th><strong>Phone #</strong></th>
                                        <th><strong>Position</strong></th>
                                        <th><strong></strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Arturo Alquicira</th>
                                        <td>arturoalquicira@fullsail.edu</td>
                                        <td>407 360 0657</td>
                                        <td>Production Manager</td>
                                        <td><a href="" class="delete-icon"><span class="fa fa-trash-o fa-lg"></span></a></td>
                                    </tr>
                                    <tr>
                                        <th>Arturo Alquicira</th>
                                        <td>arturoalquicira@fullsail.edu</td>
                                        <td>407 360 0657</td>
                                        <td>Production Manager</td>
                                        <td><a href="" class="delete-icon"><span class="fa fa-trash-o fa-lg"></span></a></td>
                                    </tr>
                                    <tr>
                                        <th>Arturo Alquicira</th>
                                        <td>arturoalquicira@fullsail.edu</td>
                                        <td>407 360 0657</td>
                                        <td>Production Manager</td>
                                        <td><a href="" class="delete-icon"><span class="fa fa-trash-o fa-lg"></span></a></td>
                                    </tr>
                                    <tr>
                                        <th>Arturo Alquicira</th>
                                        <td>arturoalquicira@fullsail.edu</td>
                                        <td>407 360 0657</td>
                                        <td>Production Manager</td>
                                        <td><a href="" class="delete-icon"><span class="fa fa-trash-o fa-lg"></span></a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </main>
</div>

